{% extends "base.html" %} {%load static%} {% block title %}EasyRide - Transport
rapide et sécurisé{% endblock %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Réservation Réussie</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Réservation Réussie</h2>
      <p>Votre réservation a été effectuée avec succès !</p>
    </div>
  </body>
</html>
{% endblock %}
